<table>
  <tr>
    <th>Date</th>
    <th>Urgency</th>
    <th>Time Available</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phase</th>
    <th>Remote OK?</th>
  </tr>
  <% @entries.each do |entry| %>
    <tr>
      <td> <a href=<%="/entries/#{entry.id}"%>> <%= entry.pretty_date %> </a> </td>
      <td> <a href=<%="/entries/#{entry.id}"%>> <%= entry.urgency %> </a> </td>
      <td> <a href=<%="/entries/#{entry.id}"%>> <%= entry.time_avail %> </a> </td>
      <td> <a href=<%="/entries/#{entry.id}"%>> <%= entry.name %> </a> </td>
      <td> <a href=<%="/entries/#{entry.id}"%>> <%= entry.email %> </a> </td>
      <td> <a href=<%="/entries/#{entry.id}"%>> <%= entry.phase %> </a> </td>
      <td> <a href=<%="/entries/#{entry.id}"%>> <%= entry.remote_ok %> </a> </td>
    </tr>
  <% end %>
</table>
